body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.right-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin-right: 200px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    margin-left: 100px;
}

.header strong {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex: 1 0 auto;
    margin-right: 50px;
}

.main {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 200px;
}

.main-left {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-right: 50px;
    min-width: 250px;
}

.main-left strong {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 400px;

}

.main-left p {
    font-size: 18px;
    color: #E5E7EB;
    max-width:600px;
    display: flex;
    flex: auto;
}

button { 
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
}

.main-right {
    display: flex;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex: auto;
    width: 600px;
    min-width: 250px;
    
}

.imgplaceholder{
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 20px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;

}

.infobuble {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    max-width: 200px;
    font-size: 18px;
    text-align: center;
}